TODO: There are at least five (meaningful) performance tests written with k6, included in the k6 folder. Performance test results are included in the PERFORMANCE_TEST_RESULTS.md that is included in the assignment template.

# Performance test results

Brief description of the used server: HTTP/1.1

Brief description of your computer: 2022 Lenovo Laptop with AMD Ryzen 6800HS Creator Edition

## Posting a question

    http_reqs: 

    http_req_duration - median: 

    http_req_duration - 99th percentile: 


## Posting an answer

    http_reqs: 

    http_req_duration - median: 

    http_req_duration - 99th percentile: 