---
import Layout from "../layout/Layout.astro";
import AbstractQuestionsAnswers from "../components/AbstractQuestionsAnswers.svelte"

const { slug } = Astro.params;
---

<Layout>

  <h1 class="bg-red-300">Slug: {slug} (from [...slug].astro</h1>
  <AbstractQuestionsAnswers slug={slug} client:only={"svelte"} />

</Layout>